# Python
__pycache__/
*.py[cod]
*.egg-info/
build/
dist/
.eggs/

# Environments
.venv/
venv/
env/

# Tooling
.pytest_cache/
.mypy_cache/
.ruff_cache/
.ipynb_checkpoints/

# Editors
.vscode/
.idea/

# OS
Thumbs.db
.DS_Store
